.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: rgba(245, 248, 255, 1)
}
.text-center {
    text-align: center;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 12px;
    padding:12px 36px;
    font-weight: bold;
    font-size: 16px;
}
.btn-primary:hover{
    background-color: #FFDE59;
    color: black;
    cursor: pointer;
}
header{
    width: 100%;
    height: 698px;
    padding-bottom: 152px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.new-text {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 50px;
}
nav ul li {
    list-style: none;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
}
.header-text {
    margin: 309px 267.5px 152px;
}
.header-title {
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
}
.scale{
    margin-left: 141px;
    margin-right: 159px;
}
.margin-top{
    margin-top: 116px;
}
.action-section{
    display: flex;
    justify-content: space-between;
}
.action-left{
    margin: 62.5px 0px;
}
.title{
    font-size: 42px;
}
.subtitle{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.img-container{
    border-radius: 48px;
}
.Productive-Users-Section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}
.centered-container{
    text-align: center;
    padding: 50px 142px;
    gap: 40px;
}
.centered-title{
    font-size: 38px;
    font-weight: bold;
}
.centered-content{
    display: flex;
    justify-content: space-around;
}
.centered-item{
    column-gap: 0px;
}
.centered-subtitle{
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
}
.centered-text{
    font-size: 20px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.5);
}
.in-touch{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.touch-left{
    font-weight: bold;
    font-size: 97px;
    width: 50%;
    height: 490px; 
}
.section-title{
    margin-top: 200px;
    margin-bottom: 200px;
}
.touch-right{
    margin-top: 71px;
    width: 50%;
    height: 490px;
    margin-bottom: 71px;
}
main input[type="email"],
main input[type="text"] {
    width: 100%;
    height: 70px;
    padding-left: 32px;
    border-radius: 10px;
    display: block;
    margin-bottom: 19px;
    border: none;
    background-color: white;
    gap: 10px;
    box-shadow : 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main textarea {
    width: 100%;
    height: 135px;
    padding-top: 20px;
    padding-left: 32px;
    border-radius: 10px;
    display: block;
    margin-bottom: 19px;
    border: none;
    background-color: white;
    gap: 10px;
}
main input[type="submit"] {
    width: 100%;
    height: 62px;
    gap: 10px;
}
main label{
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
}
hr{
    border: none;
}
.footer-section{
    width: 100%;
    height: 428px;
    background-color: white;
    padding: 104px 0px;
}
.website-name{
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    margin-bottom: 0px;
}
.link{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.link a{
    text-decoration: none;
    color: rgba(37, 36, 50, 0.5);
    font-weight: bold;
}
.review-section{
    margin-left: 151px;
    margin-right: 149px;
}
.hd{
    margin-bottom: 50px;
}
.hd-name{
    font-size: 42px;
    font-weight: bold;
}
.bd{
    display: flex;
    justify-content: space-between;
}
.bd-container{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    width: 100%;
    margin-right: 20px;
    padding: 24px;
}
.bd-user-avatar{
    border-radius: 999px;
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.bd-user-info{
    display: flex;
    gap: 12px;
    padding-top: 0px;
}
.bd-user-name{
    color: rgba(117, 117, 117, 1);
}
.bd-user-role{
    color: rgba(179, 179, 179, 1);
}
.bd-details{
    color: rgba(30, 30, 30, 1);
    font-weight: 500;
}
.bd-title{
    color: rgba(30, 30, 30, 1);
}
.ready-to-focus{
    margin-left: 151px;
    margin-right: 149px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 71px 150px;
}
.section-title1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-description{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.section-btn{
    margin-bottom: 20px;
    font-weight: lighter;
}
.section-img{
    border-radius: 48px;
    width: 850px;
}